.outer-div {
  width: 340px;
  height: 670px;
  background-color: rgb(24, 24, 100);
  text-align: center;
  margin: auto;
  padding-top: 10px;
  box-sizing: border-box;
  color: #fff;
  border-radius: 10px;
}

.inner-div {
  width: 260px;
  height: 460px;
  background-color: #e7c8d2;
  margin: auto;
  padding-top: 10px;
  border-radius: 15px;
}
.apply {
  margin-left: 116px;
  color: #fff;
  background-color: #3533cf;
  width: 60px;
  height:27px;
  border-radius:7px;
}
.font{
  font-size: 12px;
  color: rgb(90, 81, 81);
  
}
.input {
  height:25px;
  width: 210px;
  border-radius:7px;
  text-align: center;
  font: 1em sans-serif;
}
.new-button {
  margin-top: 36px;
}
